<h1>Your Search Results</h1>
<% if @album.any? %>
<ul>
  <% @album.each do |album| %>
    <li><a href="/albums<%= album.id %>"><%= album.name %></a></li>
  <% end %>
  </ul>
<% else %> 
  <p>There are currently no records to display based off of your search.</p>
<% end %>



<!-- <form action="/albums" method="post">
  <div class="form-group">
    <input id="n" name="album_name" class="form-control" type="text" placeholder="Album Name">
    <br>
    <input id="a" name="album_artist" class="form-control" type="text" placeholder="Artist">
    <br>
    <input id="y" name="album_year" class="form-control" type="text" placeholder="Year">
    <br>
    <input id="g" name="album_genre" class="form-control" type="text" placeholder="Genre">
  </div>
  <button type="submit" class="btn btn-dark">Go!</button>
</form> -->


<!-- <label for="name">Rename album</label>
<input id="name" name="name" type="text"> -->